body {
    font-family:Quicksand;
    background-color: #CE8AEA;
    color :#FFFFFF;
}

h1, h2, h3, h4, h5, h6 {
    font-family:"Matemasie";
    font-size: 30px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 15px;
}

header {
     text-align:center;
}

#hero, footer {
    background-color: #DC0BF5;
    text-align:center;
    border-style: dotted;
    border-radius: 12px;
    border-width: 10px;
    border-color: deeppink;
    padding-top: 30px;
    padding-bottom: 15px;
}

/* Hero Section */

#hero img {
    width:285px;
}

/* Bio Section */

#bio{
    text-align: center;
    font-size: 16pt;
}

/* Hobbies */

#hobbies {
    font-size: 20px;
    text-decoration-line: underline;
    text-decoration-color: black;
    text-decoration-style: wavy;
    text-decoration-thickness: 14px;
   
}

/* Gallery */

#gallery {
    text-align: center;
    border-style: double;
    border-radius: 12px;
    border-width: 10px;
    border-color: deeppink;
}

/* Literature */

#lit {
    text-align: center;
    text-shadow: 2px 2px 5px black;
    max-width: 100%;
    columns: 20rem;
}

#lit div {
    max-width: 40rem;
    margin: 0 auto;
    text-indent: 50px;
}

@media screen {
    min-width: 60 em;
}

#figure{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

#figcaption {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-left: 1rem;
}

@media screen {
    min-width: 100em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#gallery grid column {
    grid-column: 1/-1;
    color: #666;
}

video {
    padding-top: 15px;
    padding-bottom: 20px;
}

/* Contact Form */

#formelements {
    display: grid;
}

