body {
    font-family:Quicksand;
    background-color: #CE8AEA;
    color :#FFFFFF;
}

h1, h2, h3, h4, h5, h6 {
    font-family:"Matemasie";
    font-size: 30px;
    text-align: center;
}

header {
     text-align:center;
}

#hero, footer {
    background-color: #DC0BF5;
    text-align:center;
    border-style: dotted;
    border-radius: 12px;
    border-width: 10px;
    border-color: deeppink;
}

/* Hero Section */

#hero img {
    width:285px;
}

/* Bio Section */

#bio{
    text-align: center;
    font-size: 16pt;
}

/* Hobbies */

#hobbies {
    font-size: 20px;
    text-decoration-line: underline;
    text-decoration-color: black;
    text-decoration-style: wavy;
    text-decoration-thickness: 14px;
}

/* Gallery */

#gallery {
    text-align: center;
    border-style: groove;
    border-radius: 3px;
    border-width: 2px;
    border-color: deeppink;
}